@import url("../../foundations/main.css");

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.light-theme .nav__menu {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #fff;
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
  transition: 0.3s ease;
}

.light-theme .nav__link {
  color: #000;
}

.nav__link:hover {
  color: var(--first-color);
  transform: translateY(-2px);
}

/* Active link */
.active-link {
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: #fff;
}

.light-theme .active-link {
  color: #fff;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
